<h4> Hi, welcome to blackjack! </h4>
<br>
<h5> - What is your name? </h5>

<form action="/set_name" method="post">
  Name: <input type = "text" name="player_name">
  </br>
  <input type="Submit" class='btn'>
</form>
